{
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h",
      "pragmaFrag": "h"
    }],
    ["babel-plugin-jsx-pragmatic", {
      "module": "superpie",
      "import": "h",
      "export": "h"
    }]
  ]
}
